#cognitive-test-container {
	border-radius: 1px;
	border: 1px solid black;
	position: absolute;
	top: 20px;
	left: 480px;
}

#cognitive-test {
	margin: 0px;
	padding: 50px 200px;
	background: rgba(25,25,25,0.05);
}