#cognitive-test-container {
	border-radius: 1px;
	border: 1px solid black;
	position: absolute;
	top: 50px;
	left: 480px;
}

#cognitive-test {
	background: rgba(25,25,25,0.05);
}

#cognitive-test-header {
	position: absolute;
	top: 0px;
	left: 480px;
}